unknown {
  text-decoration: none;
}

a:link {
  color: black;
  text-decoration: none;
}

a.widelink {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: gray;
  text-decoration: none;
}

body {
  scrollbar-face-color: lightgrey;
  scrollbar-highlight-color: white;
  scrollbar-shadow-color: white;
  scrollbar-3dlight-color: lightgrey;
  scrollbar-arrow-color: white;
  scrollbar-track-color: floralwhite;
  scrollbar-darkshadow-color: lightgrey;
  scrollbar-base-color: white;
}

body.normal {
  font-family: 'ÉÅÉCÉäÉI','Meiryo','Verdana','ÇlÇr ÇoÉSÉVÉbÉN','MS UI Gothic';
  font-size: 10pt;
  background: floralwhite;
  margin-right: 20;
}

body.nomargin {
  font-family: 'ÉÅÉCÉäÉI','Meiryo','Verdana','ÇlÇr ÇoÉSÉVÉbÉN','MS UI Gothic';
  font-size: 10pt;
  background: floralwhite;
}

tr.normal {
  background-color: LightPink;
}

tr.mocha_head
{
  color:White;
  background-color:#6B696B;
  font-weight:bold;
}

tr.mocha_row
{
	background-color :#F7F7DE;
}

.gridViewRowStyle unknown {text-decoration: underline;}
.gridViewRowStyle a:link {color: black;text-decoration: underline;}
.gridViewRowStyle a:visited {color: black;text-decoration: underline;}
.gridViewRowStyle a:hover {color: white;background-color: gray;text-decoration: underline;}
.gridViewRowStyle td { font-family: 'Verdana','ÇlÇr ÇoÉSÉVÉbÉN','MS UI Gothic';}

.Freezing
{
	z-index: 10;
	position: relative;
	top: expression(this.offsetParent.scrollTop)
}
