<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="debugPcName" value="appserver"/>
  <add key="BubblesHostNameRemote" value="\\appserver" />
  <add key="ShenlongDocumentsFolder" value="C:\Users\default\Documents\sheneggs@QROC" />
  <add key="devGroupUsers" value="localhost" />
  <add key="maxRowNum" value="5000"/>
  <!--<add key="writeLogDsnUidPwd" value="dsn,uid,pwd" />-->
  <!--<add key="outputType" value="HTML"/>-->
  <!--<add key="replaceForWebAppChars" value="-―.． □:：(（)）,，'’"/>-->
  <!-- for Chrome -->
  <add key="replaceForWebAppChars" value="-＿.＿ ＿:＿(＿)＿,＿'＿"/>
  <!--<add key="excelGetBorder" value="2031"/>-->
  <add key="smtpServerAddress" value="127.0.0.1"/>
  <add key="developerMailAddress" value="support@appserver.co.jp"/>
</appSettings>
